h2 {
    margin-left: 30px;
    padding: 10px 20px;
    border: solid 10px lightgrey;
    background-color: blueviolet;
    color: yellow;
    width: 250px;
}

span {
    color: ivory;
}

.grid {
    width: 600px;
    height: 600px;
    border: solid 10px lightgrey;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.square {
    height: 200px;
    width: 200px;
    background-image: url('cyber2.jpg');
}

.mole {
    /* background-color: blue; */
    background-image: url("smiley.jpg");
    /* background-size: cover; */
}